@import 'paper-kit';


.page-header {
  padding-top: 125px;
}
.btn {
  margin-top: 15px;
}
h4 {
  margin: 0 0 0;
}

.input-group .input-group-prepend, .form-control  {
    background-color: rgba(255, 255, 255, 0.6);
    .ng-touched {
      color: black;
      font-size: large;
      font-weight: 600;

    }
}
::placeholder {
  color: white !important;
  opacity: 1 !important;
  font-weight: bold;

}

.main-panel {
  min-height: 600px;
}
.card-login {
  padding-top: 120px;
}
.login-page  {
  .card-login .logo-container {
    width: 360px;
    margin-bottom: 15px;
    margin-top: 35px;
  }
  h1 {
    margin-bottom: 0px;
  }
  .card-login.card-plain  {
    .form-control {
      background-color: rgba(255,255,255, 0.3);
    }
  }
}

.login-page .card-login.card-plain .input-group-text, .login-page .card-login.card-plain .form-group.form-group-no-border .input-group-text, .login-page .card-login.card-plain .input-group.form-group-no-border .input-group-text {
  background-color: rgba(255,255,255, 0.3);
  color: rgba(255,255,255, 0.9);
}



