<ng-template #addEventContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <form (ngSubmit)="addEvent()" [formGroup]="addEventForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" placeholder="Title" value="" formControlName="title" name="title" id="title">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" placeholder="Location" formControlName="location" name="location" id="location">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="description">Description</label>
                <textarea rows="4" cols="80" class="form-control" placeholder="Event Description" value="" id="description" name="description" formControlName="description"></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="start_date">Event Start</label>
                <!--<input id="start_date" type="email" class="form-control" placeholder="Name">-->
                <input class="form-control datetimepicker" placeholder="06/07/2017" id="start_date"
                       name="start_date" formControlName="startDate" ngbDatepicker #start="ngbDatepicker" (click)="start.toggle()" data-color="orange">
              </div>
              <ngb-timepicker name="startTime" formControlName="startTime" [meridian]="true"></ngb-timepicker>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="end_date">Event End</label>
                <input class="form-control datetimepicker" placeholder="06/07/2017" id="end_date"
                       name="end_date" formControlName="endDate" ngbDatepicker #end="ngbDatepicker" (click)="end.toggle()" data-color="orange">
              </div>
              <ngb-timepicker name="endTime" formControlName="endTime" [meridian]="true"></ngb-timepicker>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="reminder">Reminder Date</label>
                <input class="form-control datetimepicker" placeholder="06/07/2017" id="reminder"
                       name="reminder_date" formControlName="reminderDate" ngbDatepicker #remind="ngbDatepicker" (click)="remind.toggle()" data-color="orange">
              </div>
              <ngb-timepicker  name="reminderTime" formControlName="reminderTime" [meridian]="true"></ngb-timepicker>
            </div>
            <div class="col-md-4">
              <input type="submit" class="btn btn-primary btn-lg btn-fill" value="Save" [disabled]="!addEventForm.valid"/>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>
<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Neighborhood Events Calendar</h5>
        </div>
        <div class="card-body">
          <app-events></app-events>
        </div>
        <div class="card-footer">
          <div class="col-md-2">
            <button class="btn btn-primary" (click)="open(addEventContent)">Add Event</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

