<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
  <div class="container" >
    <div class="navbar-translate">
      <a class="navbar-brand" [routerLink]="['/','public']">Arbor Landing</a>
      <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
        <span class="navbar-toggler-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="dropdownResident" ngbDropdownToggle>Residents</a>
            <div ngbDropdownMenu aria-labelledby="dropdownResident" class="dropdown-primary">
              <a class="dropdown-item" rel="tooltip" title="Events Calendar" data-placement="bottom" [routerLink]="['/','public','events']">
                <i class="fa fa-calendar"></i> Events
              </a>
              <a class="dropdown-item" rel="tooltip" title="Events Calendar" data-placement="bottom" [routerLink]="['/','public','archrequest']">
                <i class="fa fa-building"></i> Arch Request
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item ">
          <div ngbDropdown class="d-inline-block dropdown">
            <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>Social Media</a>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
              <a class="dropdown-item" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/arborlandinghoa/" target="_blank">
                <i class="fa fa-facebook-square"></i>
                Facebook
              </a>
              <a class="dropdown-item" rel="tooltip" title="Join the conversation on Nextdoor" data-placement="bottom" href="https://www.nextdoor.com" target="_blank">
                <i class="fa fa-home"></i>
                NextDoor
              </a>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" rel="tooltip" title="Resident Login" data-placement="bottom" [routerLink]="['/','public','signin']">
            <i class="fa fa-sign-in"></i>
            Sign In
          </a>
        </li>
      </ul>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">

      </div>
    </div>
  </div>
</nav>
