<app-navbar></app-navbar>
<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/maps-photo.png');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Arbor Landing</h1>
      <h3>A Great Neighborhood in Olathe, KS</h3>
      <br />
      <a [routerLink]="['/', 'public','events']" class="btn btn-outline-neutral btn-round"><i class="fa fa-calendar"></i>Events Calendar</a>
      <a [routerLink]="['/', 'auth','signin']" class="btn btn-outline-neutral btn-round">Resident Sign-In</a>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Welcome</h2>
          <h5 class="description">Arbor Landing is a great community of 200 homes in the south part of Olathe, KS. With great access to shopping, parks, and in the Award Winning
            Olathe School District, Arbor Landing is a wonderful neighborhood to live in. </h5>
          <br>
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fa fa-bicycle"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Parks and Trails</h4>
              <p class="description">The City of Olathe's Arbor Landing Park is located in NorthWest corner of the subdivision. In addition, the neighborhood
                is close to the Indian Creek Trail system, offering miles of biking and walking paths.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="nc-icon nc-shop"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Shopping</h4>
              <p>Grocery Store, Banks, and multiple restaurants all located within walking distance, making it easy to get the items
                you need</p>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info">
            <div class="icon icon-danger">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="description">
              <h4 class="info-title">Schools</h4>
              <p>Located in the Olathe Public School District, providing residents access to some of the highest ranks public schools in country. Sunnyside Elementary School is
                located in the neighborhood, and Chisholm Trail Middle School just a short walk.  </p>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="section section-dark text-center">
    <div class="container">
      <h2 class="title">What Residents Say</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Henry Ford</h4>
                  <h6 class="card-category">Joined 2011</h6>
                </div>
              </a>
              <p class="card-description text-center">
                We love this neighborhood. The families are great, and it's a great place to raise kids.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Sophie West</h4>
                  <h6 class="card-category">Joined 2016</h6>
                </div>
              </a>
              <p class="card-description text-center">
                We were really happy to find a neighborhood with so many families with kids the same age as ours. It's great to have the school just down the street as well as the neighborhood park
                for the kids to play in.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Robert Orben</h4>
                  <h6 class="card-category">Joined 2005</h6>
                </div>
              </a>
              <p class="card-description text-center">
                The HOA President is the best.
              </p>
            </div>
            <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section landing-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Keep in touch?</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group" >
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" >
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group" >
                  <div class="input-group-prepend">
                    <span class="input-group-text">  <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" >
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
