<div class="panel-header panel-header-sm">



</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">News</h5>
          <h4 class="card-title">Recent News</h4>
        </div>
        <div class="card-body">
          <ul>
            <li>Board Meeting Nov 20th, 7:00PM @ Minskys</li>
            <li>Security Cameras at the Pool</li>
          </ul>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Calendar</h5>
          <h4 class="card-title">Upcoming Events</h4>
        </div>
        <div class="card-body">
          <ul>
            <li *ngFor="let event of events">{{ event.title }} - {{ event.startDate | date }} @ {{ event.location }}</li>

          </ul>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Just Updated
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
