<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Architecture Request</h5>
        </div>
        <div class="card-body">
          <div class="table-responsive-md">
            <table class="table">
              <thead class="text-black-50">
                <th>Status</th>
                <th>Address</th>
                <th>Description</th>
                <th>Submitted</th>
                <th>Email</th>
              </thead>
              <tbody>
                <tr *ngFor="let request of requests">
                  <td>{{ request.status }}</td>
                  <td>{{ request.street }}</td>
                  <td>{{ request.description }}</td>
                  <td>{{ request.created_at | date }}</td>
                  <td><a href="mailto:'{{ request.email }}'" class="text-dark">{{ request.email }}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
